/* JhonnyWickDoggo#9015 */
:root {
	--accent-color: #00fff3;
	--health-color: var(--accent-color);
	--ammo-color: #fff;
	--premium-color: #00ffee;
	--verified-color: #ff00de;
	--menu-bg-color: rgb(15 15 15 / 0%);
	--menu-bg-color-secondary: rgb(0 0 0 / 0%);
	--ingame-bg-color: rgb(15 15 15 / 0%);
	--text-transform: lowercase;
}

@font-face {
    font-family: gamefont;
    src: url(../css/fonts/font2.ttf)
}

@font-face {
    font-family: headerfont;
    src: url(../css/fonts/header.ttf)
}

#menuFPSDisplay {
    margin-right: 5px
}

#menuPingDisplay,#menuFPSDisplay {
    font-size: 12px;
    color: rgba(255,255,255,.75)
}

#menuPingText {
    font-size: 12px;
    color: rgba(255,255,255,.75)
}

#menuPingDisplay .material-icons {
    vertical-align: bottom;
    font-size: 20px
}

.krInfo {
    display: flex;
    flex-direction: row;
    align-items: center
}

#menuKRCount {
    color: rgba(255,255,255,.6)
}

#menuItemContainer {
    background: linear-gradient(5deg, #00deffa0, #e400ffa0);
    border: solid 4px #00fff6;
    border-top: none;
    position: absolute;
    left: 0;
    top: 78px;
    bottom: 0;
    width: 130px;
    display: flex;
    flex-direction: column
}

.menuItem {
    color: #fff;
    flex-grow: 1;
    display: flex;
    transition: all .1s;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgb(255 255 255 / 20%);
    text-align: center;
    pointer-events: all;
    cursor: pointer;
}

@keyframes rainbow {
    0%,100% {
        color: #f100ff;
        border-color: #f100ff
    }

    20% {
        color: #9300ff;
        border-color: #9300ff
    }

    40% {
        color: #0012ff;
        border-color: #0012ff
    }

    60% {
        color: #0087ff;
        border-color: #0087ff
    }

    80% {
        color: #00fdff;
        border-color: #00fdff
    }
}

@keyframes rainbowT {
    0%,100% {
        color: #f100ff
    }

    20% {
        color: #9300ff
    }

    40% {
        color: #0012ff
    }

    60% {
        color: #0087ff
    }

    80% {
        color: #00fdff
    }
}

@keyframes rainbowB {
    0%,100% {
        border-color: #f100ff
    }

    20% {
        border-color: #9300ff
    }

    40% {
        border-color: #0012ff
    }

    60% {
        border-color: #0087ff
    }

    80% {
        border-color: #00fdff
    }
}

@keyframes rainbowBG {
    0%,100% {
        background-color: #f100ff
    }

    20% {
        background-color: #9300ff
    }

    40% {
        background-color: #0012ff
    }

    60% {
        background-color: #0087ff
    }

    80% {
        background-color: #00fdff
    }
}

#instructionsUpdate {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: rgba(255,255,255,.8);
    font-size: 32px;
    background-color: #0000008a;
    padding: 5px;
    width: 600px;
    border-radius: 4px;
}

a:visited {
    color: #e071ff;
}

.headerBar {
    background: linear-gradient(35deg, #00deffa0, #e400ffa0);
    border: solid 4px #00fff6;
    position: absolute;
    top: 0;
    height: 70px;
    padding: 0 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255 255 255 / 0.2);
    pointer-events: auto;
}

.headerBarLeft {
    left: 0;
    padding-right: 15px;
    border-radius: 0 0 0 0;
}

#mLevelCont {
    margin-left: 1px;
    background: linear-gradient(25deg, #00deffa0, #e400ffa0);
    border: solid 4px #00fff6;
    border-left: none;
    position: fixed;
    font-size: 30px;
    line-height: 70px;
    color: #fff;
    text-align: left;
    background-color: rgb(255 255 255 / 0.2);
    border-bottom-right-radius: 6px;
    padding-left: 15px;
    padding-right: 15px;
    height: 70px;
}

#clientExit {
    display: flex;
}

#customizeButton {
    display: inline-block;
    width: 300px;
    text-align: center;
    padding: 15px;
    font-size: 23px;
    pointer-events: all;
    padding-bottom: 28px;
}

#policeButton {
    margin-right: 10px;
    margin-left: -80px;
    display: inline-block;
    border-radius: 6px;
}

.buttonB {
    background-color: #00fdff70 !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
}

.buttonB:hover {
    background-color: #00daff !important;
    box-shadow: inset 0 -7px 0 0 #00aeff !important
}

.buttonPI {
    background-color: #00fdff70 !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
}

.buttonPI:hover {
    background-color: #00daff !important;
    box-shadow: inset 0 -7px 0 0 #00aeff !important
}

.buttonR {
    background-color: #00fdff70 !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
}

.buttonR:hover {
    background-color: #00daff !important;
    box-shadow: inset 0 -7px 0 0 #00aeff !important
}

.buttonP {
    background-color: #00fdff70 !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
}

.buttonP:hover {
    background-color: #00daff !important;
    box-shadow: inset 0 -7px 0 0 #00aeff !important
}

.buttonG {
    background-color: #00fdff70 !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
}

.buttonG:hover {
    background-color: #00daff !important;
    box-shadow: inset 0 -7px 0 0 #00aeff !important
}

#chatHolder {
    position: absolute;
    z-index: 1;
    width: 280px;
    bottom: 20px;
    left: 20px
}

#uiBase.onMenu #chatHolder {
    left: 150px
}

#chatInput {
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    color: #fffe00;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    border: solid 4px #00fff6;
    border-radius: 6px;
    pointer-events: all;
    border-radius: unset
}

#chatInput::placeholder {
    color: rgb(0 255 227)
}

#chatList {
    overflow-y: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999999;
    left: -9px;
    pointer-events: all;
    position: relative;
    direction: rtl;
    text-align: left
}

.chatItem {
    max-width: 260px;
    word-wrap: break-word;
    display: inline-block;
    margin-bottom: 7px;
    padding: 5px;
    border-radius: 4px;
    border: solid 4px #da00ff;
    color: #fff;
    font-size: 14px;
    background-color: rgba(0,0,0,.2);
    max-width: 240px;
    margin-left: 10px;
}

.chatMsg {
    color: rgba(255,255,255,.7)
}

.tradeMsg {
    cursor: pointer;
    color: rgba(255,255,255,.7)
}

.tradeMsg:hover {
    text-decoration: underline
}

#chatList::-webkit-scrollbar-track {
     display: none;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-radius: unset;
    background-color: rgb(0 0 0 / 0%)
}

#chatList::-webkit-scrollbar {
     display: none;
    width: 0px
}

#chatList::-webkit-scrollbar-thumb {
    display: none;
    background-color: #fff0;
    border-radius: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-color: #36393f00
}

#termsInfo {
    background-color: #00fdff4a !important;
    box-shadow: inset 0 -7px 0 0 #00d2ff38 !important;
    padding: 0px 15px 15px 20px;
    border-top-left-radius: 6px;
    margin-right: -15px;
}

.terms {
    font-size: 19px;
    vertical-align: middle;
    cursor: pointer;
    color: rgba(255,255,255,.6);
    text-decoration: none;
    pointer-events: all;
    display: inline-block;
}

.verticalSeparatorInline {
    display: inline-block;
    border-left: 4px solid rgb(255 255 255/12%);
    height: 33px;
    transform: translateY(9px);
}

#mainLogo {
   height: 300px;
   content: url(https://cdn.discordapp.com/attachments/725691171094921248/773576948768178246/JHONNYWICKs_Krunker_Logo_3.gif);
}

#healthBar {
    display: inline-block;
    z-index: 7;
    height: 27px;
}

.healthBarSeg {
    width: 60px;
    border-radius: 0px;
    margin-right: -1.5px;
    background-color: rgb (0, 0, 0, 1);
    
}

.hpBSeg {
    border-radius: 0px;
    box-shadow: none !important;
}

#healthValueHolder {
    display: inline-block;
    background-color: rgb(0 0 0 / 0%);
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 9px;
    padding-right: 7px;
    padding-left: 9px
}

.material-icons[style*="color:#FBC02D"] {
	color: var(--verified-color) !important;
}

.material-icons[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}


* {
	color: var(--accent-color);
}

[style*="color:#eb5656"] {
	color: var(--accent-color) !important;
}

[style*="color:rgba(0,0,0,0.3)"] {
	color: rgb(255 255 255 / 50%) !important;
}

[style*="color:#9eeb56"] {
	color: rgb(255 255 255) !important;
}

[style*="font-size:20px;color:#fff;display:inline-block;"] {
	color: var(--accent-color) !important;
}

[style*="margin-top:10px;font-size:20px;color:rgba(255,255,255,0.4)"] {
	display: none !important;
}

.standout {
	font-size: 0;
	pointer-events: none;
	visibility: hidden;
}

.standout::before {
	content: 'CSS by KrunkerModderHUH#9015';
	font-size: 18px;
	margin-right: 22px;
	color: rgba(255, 255, 255, .5);
	visibility: visible;
}

.standout::after {
	content: 'Advertise';
	font-size: 18px;
	pointer-events: all;
	visibility: visible;
}

#weapDisplay {
	display: flex !important;
	flex-direction: row !important;
	bottom: 20px;
	right: 50%;
	transform: translateX(50%);
}

#reloadMsg {
	bottom: 100px;
	background: transparent !important;
}

.weapItem {
	margin-top: 0;
}

.weapKey {
	display: none;
}

.weapIcon {
	width: 120px;
	height: 60px
}

#bottomLeftHolder {
    z-index: 10;
    position: absolute;
    bottom: 27px;
    left: 305px;
    text-align: left
}

#killCardHolder {
	bottom: 100px;
}

#timerDisplay {
	text-align: center;
	position: fixed;
	transform: translateX(-50%);
	top: 0;
	left: 50%;
	width: 150px;
	height: 35px;
	padding: 0;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-left: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: var(--ingame-bg-color);
	will-change: unset;
}

#timerVal {
	font-size: 28px;
	padding-left: 0;
	will-change: unset;
}

#timerIcon {
	display: none;
}

#fpsDisplay {
	visibility: hidden;
}

#ingameFPS {
	color: #fff !important;
	visibility: visible;
}

#pingText {
	color: #fff !important;
}

#pingIcon {
	color: var(--accent-color) !important;
}

#pingDisplay .material-icons {
	font-size: 20px;
}

#teamScores {
	position: fixed;
	top: 1415px;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 25px;
	padding: 10px;
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
	background-color: transparent;
}

.tScore {
	display: inline-block;
}

#tScoreV1 {
	position: fixed;
	left: -25%;
	top: 4px;
}

#tScoreV2 {
	position: fixed;
	left: 25%;
	top: 4px;
}

.tScoreT {
	width: 100%;
	text-align: center;
	font-size: 15px;
	color: #fff;
	z-index: 2;
}

.tScoreM {
	display: none;
}

.tScoreF {
	left: 50%;
	width: 75px;
	height: 25px;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: #00ffe9;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreF.you {
	background-color: #ffffff;
	color: transparent;
	opacity: 50%;
	z-index: 1;
}

.tScoreC {
	left: 50%;
	width: 75px;
	height: 25px;
	margin-right: 0;
	background-color: var(--accent-color);
	opacity: 50%;
	z-index: 1;
}

.tScoreC.you {
	background-color: #fff;
	opacity: 50%;
	z-index: 1;
}

#leaderDisplay {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.leaderName {
	color: var(--accent-color);
}

.newLeaderContainer {
	border-radius: 0;
	background-color: var(--ingame-bg-color);
}

.newLeaderName,
.newLeaderNameM,
.newLeaderNameF {
	color: var(--accent-color);
}

.leaderItem .material-icons {
	margin-top: 0 !important;
}

#leaderContainer i[style*="color:#FBC02D"] {
	color: var(--premium-color) !important;
}

#leaderContainer i[style*="color:#40C4FF"] {
	color: var(--verified-color) !important;
}

.teamTotals {
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.teamTotalN0 {
	color: #fff;
}

.teamTotalN1 {
	color: var(--accent-color);
}

#endTimer {
	color: #fff;
	text-shadow: none;
	font-style: normal;
}

#endTable {
	background-color: transparent;
	border-radius: 0;
}

.endTableN {
	color: var(--accent-color);
}

.endCard {
	left: 50% !important;
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

#tabHolder {
	border-radius: 0;
	background-color: transparent;
}

.tabHeader {
	color: var(--accent-color);
}

.tabHeader:hover {
	color: #fff;
	border-bottom: none;
}

.tabHeader.selected {
	color: #fff;
	border-bottom: none;
}

.endSection {
	background-color: transparent;
}

.gfSection {
	background-color: transparent;
}

.xpBar {
	height: 20px;
	background-color: var(--menu-bg-color-secondary);
	border-radius: 0;
}

.xpBarB {
	background-color: var(--accent-color);
}

.xpBarV {
	top: 7px;
}

.menuClassPlayerPremium {
	color: var(--premium-color) !important;
}

.menuClassPlayerVerified {
	color: var(--verified-color) !important;
}

.menuClassPlayerVirus {
	display: none;
}

#menuClassSubtext {
	text-shadow: none;
	text-transform: var(--text-transform);
}

#menuClassName {
	text-shadow: none;
	text-transform: var(--text-transform);
}

#customizeButton .material-icons {
	display: none;
}

#policeButton {
    display: none;
}

#voiceDisplay {
	display: none;
}

#menuWindow {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 6px;
    max-height: calc(100% - 480px);
    transform: translate(-50%,-50%);
    z-index: 2;
    overflow-y: auto;
    backdrop-filter: blur(6px);
    display: inline-block;
    text-align: left;
    pointer-events: auto;
    padding: 20px;
    width: 705px;
    font-size: 20px;
    background: linear-gradient(5deg, #00d2ff1f, #ffffff1f);
    -webkit-box-shadow: 0 9px 0 0 #a6a6a600;
    -moz-box-shadow: 0 9px 0 0 #a6a6a600;
    box-shadow: 0 9px 0 0 #a6a6a600;
}

.settingsHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: -.5px;
    z-index: 999999999;
    background-color: #fff0;
    padding-left: 20px;
    margin-left: -20px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #a8a8a81a;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px
}

input:checked+.slider {
    background: linear-gradient(5deg, #00fffc, #fff);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196f3
}

input:checked+.slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px)
}

.slidecontainer {
    margin-right: 10px;
    margin-left: 10px;
    width: 250px;
    float: right
}

.sliderM {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 15px;
    background-color: #a8a8a81a;
    outline: none;
    border-radius: 4px
}

.sliderM::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    border-radius: 4px;
    background: linear-gradient(5deg, #00fffc, #fff);
    cursor: pointer
}

.sliderM::-moz-range-thumb {
    width: 15px;
    height: 25px;
    border-radius: 4px;
    background: linear-gradient(5deg, #00fffc, #fff);
    cursor: pointer
}

.sliderVal {
    float: right;
    display: inline-block;
    position: relative;
    width: 50px;
    color: #fff;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    background: linear-gradient(5deg, #00fffc, #fff);
}

.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: #fff0;
    display: table;
}

.chatItem {
    border-radius: 0px;
    background-color: transparent !important;
}

.countIcon {
	background-color: #fff0;
	border-radius: 0;
	padding: 7px;
}

#chatInput {
	font-size: 16px;
}

#chatInput::placeholder {
	color: rgba(255, 255, 255, .5) !important;
	text-transform: var(--text-transform);
}

#chatHolder {
	bottom: 29px !important;
	left: 20px !important;
}

.chatItem {
	border-radius: 0;
}

#uiBase.onMenu #chatHolder {
    bottom: 6px !important;
    left: 150px !important;
}

#hudClassIcon {
	display: none !important;
}

#ammoDisplay {
    margin-right: -15px;
    display: inline-block;
    padding: 7px;
    padding-top: 8px;
    padding-left: 20px;
    margin-bottom: -25px;
    font-size: 35px;
    letter-spacing: -2px;
    border-radius: 10px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-color: #fff0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

#ammoIcon {
    margin-right: 10px;
    margin-left: 5px;
    vertical-align: middle;
    height: 0px
}

.skinList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  position: relative;
}

.skinList .classCard {
  width: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: var(--mainFont);
  text-shadow: unset;
  height: 100px;
  -webkit-transition: color 280ms 200ms;
  transition: color 280ms 200ms;
}

.skinList .classCard .classWeap {
  font-family: var(--mainFont);
  text-shadow: unset;
  -webkit-transition: opacity 280ms 200ms;
  transition: opacity 280ms 200ms;
}

.skinList .classCard .classImgC {
  position: absolute;
  margin-top: unset;
  width: 100px;
  margin: unset;
  right: 0;
  border-radius: 0;
  z-index: 12222 !important;
  -webkit-transition: -webkit-transform 500ms 200ms ease-in-out;
  transition: -webkit-transform 500ms 200ms ease-in-out;
  transition: transform 500ms 200ms ease-in-out;
  transition: transform 500ms 200ms ease-in-out, -webkit-transform 500ms 200ms ease-in-out;
}

.skinList .classCard .classXPBar {
  BOX-SHADOW: unset;
  position: absolute;
  top: unset;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 0;
  background-color: var(--primaryBg);
  -webkit-transition: opacity 280ms 200ms;
  transition: opacity 280ms 200ms;
}

.skinList .classCard .classXPBar .clsXPBarC {
  background-color: var(--accentColor);
  margin: unset;
  height: 100%;
}

.skinList .classCard .classLvl {
  font-family: var(--mainFont);
  text-shadow: unset;
  position: absolute;
  top: unset;
  bottom: 10%;
  font-size: 20px;
  -webkit-transition: opacity 280ms 200ms ease;
  transition: opacity 280ms 200ms ease;
  width: 100%;
  text-align: left;
  left: 10px;
}

.skinList .classCard .classHP {
  font-family: var(--mainFont);
  text-shadow: unset;
  color: var(--c_white);
  position: absolute;
  top: unset;
  left: 13px;
  font-size: 20px;
  bottom: 30%;
  right: -25%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: opacity 280ms 200ms;
  transition: opacity 280ms 200ms;
}

.skinList .classCard .classHP span {
  font-family: var(--mainFont);
  text-shadow: unset;
  color: var(--accentColor);
}

.skinList .classCard:hover {
  color: transparent;
}

.skinList .classCard:hover .classWeap {
  opacity: 0%;
}

.skinList .classCard:hover .classImgC {
  -webkit-transform: translateX(-115px) scale(2) translateY(10px);
          transform: translateX(-115px) scale(2) translateY(10px);
}

.skinList .classCard:hover .classXPBar {
  opacity: 0%;
}

.skinList .classCard:hover .classLvl {
  opacity: 0%;
}

.skinList .classCard:hover .classHP {
  opacity: 0%;
}

#skinList {
  margin-top: 8px;
  margin-bottom: -4px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#skinList .skinCard {
  text-align: unset;
  margin-bottom: unset;
  margin-left: unset;
  margin-right: unset;
  padding: unset;
  padding-top: unset;
  width: auto;
  vertical-align: unset;
  background-color: transparent;
  border-radius: 0px;
  display: block;
  font-size: 20px;
  position: relative;
  z-index: 1;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  padding-bottom: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: var(--mainFont);
  text-shadow: unset !important;
  height: 120px !important;
}

#skinList .skinCard .itemOwn {
  display: none;
}

#skinList .skinCard .itemSea {
  display: none;
}

#skinList .skinCard .skinImg {
  margin-top: unset;
  margin-bottom: unset;
  position: absolute;
  height: 100%;
  width: auto;
  right: 40px;
}

#skinList .skinCard .skinImgC {
  position: absolute;
  z-index: -122;
  left: 25%;
}

#skinList .skinCard .skinImgD {
  position: absolute;
  left: 65px;
  bottom: -20px;
}

#skinList .skinCard .skinRandom {
  display: none;
}

#skinList .skinCard .secImg {
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: -1 !important;
  width: 80px;
  height: 80px;
}

#skinList .skinCard .selctInfoBtn {
  padding: unset;
  padding-bottom: unset;
  padding-top: unser;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--accentColor);
  font-family: var(--mainFont);
  font-size: 20px;
  background: var(--subBgST);
  padding-left: 12px;
  padding-right: 12px;
  -webkit-transition: color 280ms, background 280ms;
  transition: color 280ms, background 280ms;
}

#skinList .skinCard .selctInfoBtn:hover {
  color: var(--subBg);
  background: var(--accentColor);
}

#skinList .skinCard[style="color:#292929;border:5px solid#292929"] {
  -webkit-animation: contraCard 500ms infinite;
          animation: contraCard 500ms infinite;
}

#skinList .noBtnCard {
  height: 120px;
  width: auto;
  border-left: 0 !important;
  border-right: 0 !important;
  border-radius: 0 !important;
  border-top: 0 !important;
  margin-left: unset;
  margin-right: unset;
  margin-bottom: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: var(--mainFont);
  text-shadow: unset !important;
  height: 120px !important;
}

#skinList .noBtnCard .sprayImg, #skinList .noBtnCard .noBtnImgC {
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: -1 !important;
  width: 80px;
  height: 80px;
}


#skinList .noBtnCard .noBtnImgR {
  position: absolute;
  left: 95px;
  top: 40px;
  z-index: -1 !important;
  width: 30px;
  height: 30px;
}

#skinList .noBtnCard .customReticle {
  position: absolute;
  top: 40px;
  width: 182px;
}

#skinList .noBtnCard .itemOwn {
  display: none;
}

#skinList .noBtnCard .skinRandom {
  display: none;
}

#skinList .blackShad {
  text-shadow: unset;
}

.countIcon {
    color: rgb(255 255 255);
    display: inline-block;
    margin-bottom: 0px;
    background-color: rgb(228 19 19 / 0%);
    padding: 0px;
    font-size: 36px;
    padding-right: 16px;
    padding-left: 10px;
    border-radius: 0px;
    text-align: center;
    flex-direction: row
}

#killsVal:after {
    content: 'Kills';
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    text-align: center
}

#deathsVal:after {
    content: 'Deaths';
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    text-align: center
}

#streakVal:after {
    content: 'Streak';
    display: flex;
    flex-direction: column-reverse;
    font-size: 18px;
    text-align: center
}

#killsVal,#deathsVal,#streakVal,#myScoreVal {
    color: white;
}

#killsIcon,#deathsIcon,#streakIcon {
    display: none
}

#aContainer {
    display: none!important;
}
